@font-face {
    font-family: 'MyFont';
    src: url('../qita/a.ttf') format('truetype');
    unicode-range: U+0000-00FF;
}
@font-face {
    font-family: 'MyFont';
    src: url('../qita/b.otf') format('opentype');
    unicode-range: U+4E00-9FFF;
}
body {
    font-family: 'MyFont', sans-serif;
}